body{
    background-color: pink;
}

.navbar{
    background-color: pink;
}

.title{
    color: rebeccapurple;
    text-align: justify;
    margin-top: 500px;
    margin-left: 5000px;
}

.masuk{
    margin-left: 5000px;
}